.post{
    width: 100%;
    margin-top: 15px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0  5px 7px -7px rgba(0, 0, 0, 0.75);
    padding: 0 0.5rem;
}

.post-top {
    display: flex;
    position: relative;
    align-items: center;
    padding: 15px;
}

.post-avatar {
    margin-right: 10px;
}

.post-topInfo > h3 {
    font-size: medium;
}

.post-topInfo > p {
    font-size: small;
    color: gray;
}

.post-bottom {
    margin-top: 0.2rem;
    margin-bottom: 0.3rem;
    padding: 0.2rem 1.5rem 0.2rem;
}

.post-image > img {
    width: 100%;
}

.post-options {
    border-top: 1px solid lightgray;
    display: flex;
    justify-content: space-evenly;
    font-size: medium;
    color: gray;
    cursor: pointer;
    padding: 15px;
}

.post-option {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    flex: 1;
}

.post-option > p {
    font-size: 14px;
    margin-left: 10px;
}

.post-option:hover {
    background-color: #eff2f5;
    border-radius: 10px;
}